In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"E:\Gymcode\DA\DAP2304R1\Data\shopeep_koreantop_clothing_shop_data.csv")

In [4]:
df.head()

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0

In [5]:
df1 = df.copy()

In [6]:
city = lambda x:str(x).split(',')[-1]
df1['City'] = df['shop_location'].apply(city)
df1

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,City
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0,nan
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,Metro Manila
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,Metro Manila
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0,Metro Manila
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,Metro Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0,Albay
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0,nan
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0,nan
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,Metro Manila
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,Metro Manila

In [7]:
df1['City'].unique()

array(['nan', 'Metro Manila', 'Rizal', 'Ilocos Sur', 'Laguna', 'Cavite',
       'Batangas', 'Iloilo', 'Nueva Ecija', 'Pampanga', 'Albay', 'Bataan',
       'Bulacan'], dtype=object)

In [8]:
# loc du lieu
df2 = df1[['pk_shop','shopid','join_month']]
df2[df2['join_month']!='April']

               pk_shop     shopid join_month
1    20210613314198143  314198143  September
2     2021061310377223   10377223  September
4     2021061311187885   11187885    October
6    20210613310915998  310915998  September
7    20210613126018720  126018720   February
..                 ...        ...        ...
741  20210706449182992  449182992        May
742  20210706396605392  396605392      March
743  20210706360379308  360379308   December
744   2021070629392066   29392066     August
745   2021070625811092   25811092       June

[672 rows x 3 columns]

In [9]:
# tao cot moi voi nhieu dieu kien join_day>27 va join_year>2020
df3 = df1[(df1['join_day']>28) & (df1['join_year']>2020)]
df3

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,City
474,20210628455548857,2021-06-28,455548857,mr.monkey.ph,May,31,2021,598,35,10:17:48,96,NaN,0,1,0,5.00,0,0,nan
601,20210706412536354,2021-07-06,412536354,JK Women's Shopping Mall,March,29,2021,518,526,08:59:39,98,NaN,3,133,7,4.74,1,0,nan
659,20210706412764444,2021-07-06,412764444,la6rsf90hp,March,29,2021,10,328,09:18:54,75,"Quezon City,Metro Manila",0,26,0,4.96,0,0,Metro Manila
687,20210706455548857,2021-07-06,455548857,mr.monkey.ph,May,31,2021,1000,62,09:52:49,97,NaN,0,6,1,4.71,0,0,nan

In [10]:
df1

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop,City
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0,nan
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0,Metro Manila
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0,Metro Manila
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0,Metro Manila
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0,Metro Manila
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0,Albay
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0,nan
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0,nan
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0,Metro Manila
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0,Metro Manila

In [11]:
# thuc hanh tren bo du lieu gom: date_collected,response_time, shop_location
df3 = df1[['date_collected','response_time', 'shop_location']]
df3

    date_collected response_time               shop_location
0       2021-06-13      10:13:55                         NaN
1       2021-06-13      10:43:05    San Nicolas,Metro Manila
2       2021-06-13      08:32:07     Pasay City,Metro Manila
3       2021-06-13      09:10:38        Binondo,Metro Manila
4       2021-06-13      11:40:59  Caloocan City,Metro Manila
..             ...           ...                         ...
741     2021-07-06      08:45:30          Legazpi City,Albay
742     2021-07-06      08:01:23                         NaN
743     2021-07-06      08:46:30                         NaN
744     2021-07-06      12:19:44        Binondo,Metro Manila
745     2021-07-06      10:02:42     Pasay City,Metro Manila

[746 rows x 3 columns]

In [18]:
# tach thanh cot ngay, thang, nam, gio, phut, giay rieng
df3['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
df3['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
df3['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
df3['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
df3['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
df3['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second
df3

C:\Users\admin\AppData\Local\Temp\ipykernel_12228\1457571400.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Day']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.day
C:\Users\admin\AppData\Local\Temp\ipykernel_12228\1457571400.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Month']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.month
C:\Users\admin\AppData\Local\Temp\ipykernel_12228\1457571400.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Year']=pd.to_datetime(df['date_collected'],format='%Y-%m-%d').dt.year
C:\Users\admin\AppData\Local\Temp\ipykernel_12228\1457571400.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Hour']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.hour
C:\Users\admin\AppData\Local\Temp\ipykernel_12228\1457571400.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Minute']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.minute
C:\Users\admin\AppData\Local\Temp\ipykernel_12228\1457571400.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Second']=pd.to_datetime(df['response_time'],format=' %H:%M:%S').dt.second

,date_collected,response_time,shop_location,Ngày,Tháng,Năm,Hour,Minute,Second,Day,Month,Year
0,2021-06-13,10:13:55,NaN,13,6,2021,10,13,55,13,6,2021
1,2021-06-13,10:43:05,"San Nicolas,Metro Manila",13,6,2021,10,43,5,13,6,2021
2,2021-06-13,08:32:07,"Pasay City,Metro Manila",13,6,2021,8,32,7,13,6,2021
3,2021-06-13,09:10:38,"Binondo,Metro Manila",13,6,2021,9,10,38,13,6,2021
4,2021-06-13,11:40:59,"Caloocan City,Metro Manila",13,6,2021,11,40,59,13,6,2021
...,...,...,...,...,...,...,...,...,...,...,...,...
741,2021-07-06,08:45:30,"Legazpi City,Albay",6,7,2021,8,45,30,6,7,2021
742,2021-07-06,08:01:23,NaN,6,7,2021,8,1,23,6,7,2021
743,2021-07-06,08:46:30,NaN,6,7,2021,8,46,30,6,7,2021
744,2021-07-06,12:19:44,"Binondo,Metro Manila",6,7,2021,12,19,44,6,7,2021
745,2021-07-06,10:02:42,"Pasay City,Metro Manila",6,7,2021,10,2,42,6,7,2021